.contact-holder-holder{
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-holder{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 32px;

}
.contact-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.contact-footer{
    margin-top: 30vh ;
}

@media screen and (max-width: 600px) {
  .contact-holder{
    border-radius: 16px;
    flex-direction: column;
    width: 90vw;
    flex-direction: column;
    margin: 2rem 0rem;
  }
  .mobile-anchor{
    width: 50vw;
  }
  .contact-holder-holder{
    margin: 20px;
  }
  .contact-footer{
    margin-top: 10vh;
  }
  .centreSection{
    margin-top: 2rem;
  }
}