.project-holder-holder{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
}
.project-holder{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    border: 1px solid #A3A3A3;
    border-radius: 16px;
    width: 25vw;
}

.project-btn-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

  }

.project-img{
    height: 200px;
    width: auto;
}


@media screen and (max-width: 600px) {
   .project-holder-holder{
    padding: 2rem;
    flex-direction: column;
   }

   .project-holder{
    width: 90vw;
   }
  }
  @media (min-width: 600px) and (max-width: 1024px) {
    .project-holder-holder{
        display: grid;
        padding: 2rem;
        grid-template-columns: repeat(2,1fr);
    }
    .project-holder{
        width: 40vw;

    }
    .section{
        height:fit-content;
        
    }
    
   }