@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  transition: all ease 0.5s;
  color: black;
}
.poppins-regular-noncard {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  transition: all ease 0.5s;
  color: black;
}

.poppins-regular:hover{
  color: #A3A3A3;
  text-underline-offset: 1rem ;
  text-decoration: underline;
}

*{
  margin: 0px 0px ;
  padding: 0px 0px;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #555555;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  text-align: center;
}

.poppins-hehe {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #555555;
  font-size: 24px;
}